$accent: #ff5253;
$white:  #fff;
$dark:   #363636;
$dark30: rgba(54, 54, 54, 0.3);

$primary-gradient: linear-gradient(231.58deg, #F83600 -53.35%, #F9D423 297.76%);
$active-gradient:  linear-gradient(233.73deg, #F83600 -16.08%, #F9D423 327.37%);

$warning:             #ffbc1f;
$positive:            #00ca71;
$negative:            #f42c4f;
$positive-background: #ebf9f1;
$positive-background: #feebea;

$gray-1: #727272;
$gray-2: #a7a7a7;
$gray-3: #bfc4c9;
$gray-4: #ebebeb;
$gray-5: #f9f9fa;

$button-hover-shadow:     0px 2px 5px rgba(54, 54, 54, 0.1);
$button-pressed-shadow:   0px 3px 4px rgba(222, 125, 11, 0.2), 0px 1px 10px rgba(249, 89, 8, 0.2);

