$large-width:     1440px;
$medium-desktops: 1200px;
$medium-width:    768px;
$small-width:     480px;

$button-radius-large:  30px;
$button-radius-medium: 20px;
$radius-circle:        50%;
$radius-small:         6px;
$radius-medium:        8px;
$radius-large:         16px;
